{{!< layout/default}}

<section class="performance-facts">
  <header class="performance-facts__header">
    <h1 class="performance-facts__title">Performance Facts</h1>
    <p>Serving Size 1 website
    <p>Servings Per Refresh 1</p>
  </header>
  <table class="performance-facts__table">
    <thead>
      <tr>
        <th colspan="3" class="small-info">
          Amount Per Serving
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">
          <b>Total Page Size</b>
          822 KB
        </th>
        <td>
          Requests
          56
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Cached Size
          34 KB
        </th>
        <td>
          Requests
          38
        </td>
      </tr>
      <tr class="thick-row">
        <td colspan="3" class="small-info">
          <b>% Per Load *</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Document</b> 27 KB
        </th>
        <td>
          <b>3%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Images (15)</b>
          533 KB
        </th>
        <td>
          <b>52%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          SVG
          (1, inline)
        </th>
        <td>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Retina Hero Images
          (1)
          84 KB
        </th>
        <td>
          8%
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>CSS (6)</b>
          13.3 KB
        </th>
        <td>
          <b>1%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Fonts (13)</b>
          6.7 KB
        </th>
        <td>
          <b>1%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>JavaScript (13)</b>
          86 KB
        </th>
        <td>
          <b>8%</b>
        </td>
      </tr>
      <tr class="thick-end">
        <td class="blank-cell">
        </td>
        <th>
          Libraries / Third-Party (9)
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="performance-facts__table--grid">
    <tbody>
      <tr>
        <td colspan="2">
          Original Content
          18%
        </td>
        <td>
          Branding
          5%
        </td>
      </tr>
      <tr class="thin-end">
        <td colspan="2">
          Advertising
          10%
        </td>
        <td>
          Navigation
          4%
        </td>
      </tr>
    </tbody>
  </table>

  <p class="small-info">* Values are based on an average 1 MB website. Your daily values may be higher or lower depending on your business needs:</p>

  <table class="performance-facts__table--small small-info">
    <thead>
      <tr>
        <td colspan="2"></td>
        <th>Size:</th>
        <th>750 KB</th>
        <th>1 MB</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">Total Size</th>
        <td>Less than</td>
        <td>750 KB</td>
        <td>1 MB</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th>Advertising</th>
        <td>Less than</td>
        <td>75 KB</td>
        <td>100 KB</td>
      </tr>
      <tr>
        <th colspan="2">Images</th>
        <td>Less than</td>
        <td>250 KB</td>
        <td>350 KB</td>
      </tr>
      <tr>
        <th colspan="2">CSS</th>
        <td>Less than</td>
        <td>75 KB</td>
        <td>100 KB</td>
      </tr>
      <tr>
        <th colspan="3">JavaScript</th>
        <td>150 KB</td>
        <td>200 KBg</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th colspan="2">Third-Party</th>
        <td>25 KB</td>
        <td>35 KB</td>
      </tr>
    </tbody>
  </table>

  <p class="small-info">
    In case it isn't obvious, this entire thing is very tounge-in-cheek. Don't take it too seriously.
  </p>

</section>